#mainContainer {
    display: flex;
    flex-direction: column;
    outline: 1px solid rebeccapurple;
    align-items: center;
}

.row {
    display: flex;
    height: 3em;
}

#columnid {
    width: 3em;
    transition-duration: 1s;
}

.hover {
    background-color: rgb(204, 226, 230);
}

