body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

#btnStart {
    width: 150px;
    height: 50px;
    font-size: 18px;
}

#mainContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-items: center;
    max-width: 800px;
    max-height: 800px;
    flex: 0 1 auto;
}

.mainContainer {
    outline: 2px solid rebeccapurple;
}

.row {
    display: flex;
    justify-content: stretch;
    height: 50px;
}

.column {
    width: 50px;
    transition-duration: 1s;
    flex-grow: auto;
}

.hover {
    background-color: rgb(153, 195, 202);
}

