body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-container {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
}

.square {
    background-color: honeydew;
    height: 100%;
    flex: 1;

}

.selected {
    background-color: lightpink;
}

button {
    width: 8rem;
}

